import(quantreg)
import(splines)
importFrom("grDevices", "dev.interactive", "devAskNewPage")
importFrom("graphics", "par", "plot")
importFrom("stats", "coef", "model.frame", "model.matrix", 
			"model.response", "predict", "quantile", "terms", "update")
export(plaqr)
export(nonlinEffect)
export(threshold)
export(predictInt)
export(transform_plaqr)
export(trans_parameter)
export(bic)
S3method("plot","plaqreffect")
S3method("print", "plaqreffect")
S3method("print", "thresh")
